@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Poppins&family=Roboto&display=swap');

:root {
  --primary-text-color: white;
  --second-text-color: #00e5ff;
  --button-color: #007fb1;
  --background-color: #222;
  --title-font: 'Ubuntu', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  min-height: 100%;
}

body {
  background-color: #222;
  color: white;
}

strong {
  color: var(--second-color)
}
@media (max-width: 768px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 425px) {
  html {
    font-size: 45%;
  }
}
@media (max-width: 375px) {
  html {
    font-size: 40%;
  }
}
@media (max-width: 320px) {
  html {
    font-size: 35%;
  }
}
@media (max-width: 280px) {
  html {
    font-size: 30%;
  }
}
@media (max-width: 240px) {
  html {
    font-size: 25%;
  }
}
@media (max-width: 200px) {
  html {
    font-size: 20%;
  }
}
